:root {
    --bg-color: #F1F1F1;
    --text-gray: #5F5D5D;
    --text-pink: #D9B4B3;
    --text-blue: #262934;
    --headerHight:10vh;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',
    sans-serif;
    font-family: 'Ubuntu',
    sans-serif;
    font-family: 'Work Sans',
    sans-serif;
    color: var(--text-gray);
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
a:hover{
    color: var(--text-pink);
}

body{
    width: 100vw;
    height: 100%;
    background-color: var(--bg-color);
    position: relative;
    scroll-behavior: smooth;
}
/* top btn */
.top{
    width: 70px;
    height: 70px;
    border-radius: 50% 50%;
    background-color: #CAA08C;
    position: fixed;
    right: 2vw;
    bottom: 2vh;
    z-index: 5;
    font-weight: bold;
    color: var(--bg-color);
    text-decoration: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* header */
header{
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 5;
}

header h1 a{
    color: var(--text-gray);
    font-size: 2rem;
    text-decoration: none;
}

header ul{
    font-size: 1.1rem;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

header ul li a{
    color: var(--text-gray);
    text-decoration: none;
    font-weight: 800;
}

header ul li a:hover{
    color: #D9B4B3;
}

header ul li a:active {
    color: #D9B4B3;
}

/* h1:target:before {
    content: "";
    display: block;
    height: 100px;
} */

@media screen and (max-width: 1200px) {
    header ul {
    width: 50vw;
    }
    
}

@media screen and (max-width: 750px) {
    header{
        flex-direction: column;
    }
    header h1{
        margin-top: 15px;
    }
    header ul {
        width: 90vw;
    }
    header ul li a:hover {
        color: var(--text-gray);
    }
}
@media screen and (max-width: 450px) {
    header{
        height: 8%;
    }
    header h1 {
        font-size: 1.5rem;
    }
    header ul{
        font-size: 0.8rem;
    }
    
}

/* main block */
.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/bg-pic2.svg");
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.main .bg-pic{
    width: 100vw;
    height: 100vh;
    /* background-repeat: no-repeat; */
}
.main .info{
    width: 900px;
    height: 500px;
    position: relative;
    /* border: 1px solid pink; */
    display: flex;
}
.main .person-pic{
    width: 400px;
}
.main .info h1{
    color: var(--text-gray);
    position: absolute;
    font-size: 5rem;
    z-index: 4;
    top: 20%;
    left: 40%;
    font-weight: 900;
}
.moble-show{
    display: none;
}
.main .info p{
    color: var(--text-gray);
    position: absolute;
    font-size: 3rem;
    z-index: 4;
    bottom: 32%;
    left: 40%;
}
.main a {
    text-decoration: none;
    color: var(--text-gray);
    position: absolute;
    font-size: 1.5rem;
    z-index: 4;
    bottom: 10%;
    right: 30%;
    cursor: pointer;
}

.main a:hover {
    color: #D9B4B3;
}

@media screen and (max-width: 850px) {
    .main .info {
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid pink; */
    }
    .web-hide{
        display: none;
    }
    .moble-show {
        display: block;
    }
    .main .info h1 {
        color: var(--text-gray);
        position: relative;
        font-size: 4rem;
        top: 0;
        left: 0;
        font-weight: 900;
        margin-top: 20px;
    }

    .main .info p {
        color: var(--text-gray);
        position: relative;
        font-size: 2rem;
        bottom: 0;
        left: 0;
    }
    .main a{
        position: absolute;
        font-size: 1.5rem;
        right: 0;
        bottom: 5%;
        margin-right: 20px;
    }
}

@media screen and (max-width: 450px) {
    .main .person-pic {
        width: 250px;
    }

    .main .info h1 {
        font-size: 2rem;
    }

    .main .info p {
        font-size: 1.2rem;
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px){
    .main .info h1{
        font-size: 2.5rem;
    }
    .main a{
        font-size: 00.8rem;
        left: 25%;
    }
}

/* about me block */
.block2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: var(--headerHight);
    position: relative;
}
.about-me{
    width: 100%;
    height: 20vh;
    position: relative;
    padding: 0 20vh;
    margin-bottom: 50px;
}

.about-me h1{
    font-size: 1.5rem;
}

.about-me h1 {
    font-size: 1.5rem;
}

.about-me p{
    margin-top: 20px;
    text-align: center;
}

@media screen and (max-width: 900px){
    .about-me{
        width: 100vw;
        padding: 0 10vh;
        height: 30vh;
    }
}
@media screen and (max-width: 500px){
    .about-me {
        height: 30vh;
        text-align: left;
        padding: 0 10%;
    }
}

.line-left{
    width: 60%;
    border: 1px solid #707070;
    position: absolute;
    left: 0;
    bottom: 0;
}
.line-right {
    width: 60%;
    border: 1px solid #707070;
    position: absolute;
    right: 0;
    bottom: 0;
}

.education{
    width: 100%;
    height: 50vh;
    padding: 0 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.education h1{
    font-size: 1.5rem;
}

.block2 .info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.each-section{
    display: flex;
    /* border: 1px solid pink; */
}
.each-section .year{
    width: 100px;
    margin-right: 20px;
}
.each-section{
    width: 30vw;
}

.info-detail{
    width: 20vw;
}

.info-detail.list{
    margin-left: 15px;
}

.info-detail.list li{
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .education {
        width: 100vw;
        height: 70vh;
        padding: 0 10vh;
        flex-direction: column;
        justify-content: center;
    }

    .education .info {
        height: 60vh;
    }

    .each-section {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .info-detail{
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .education {
        width: 100vw;
        height: 80vh;
        padding: 0 10vh;
        flex-direction: column;
        justify-content: center;
    }

    .education .each-section {
        width: 100%;
        display: flex;
    }
    
}

@media screen and (max-width: 450px) {
    .education {
        width: 100vw;
        height: 70vh;
        padding: 0 10%;
        flex-direction: column;
        justify-content: center;
    }

    .block2 .info {
        width: 100%;
    }

    .each-section {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .info-detail{
        width: 100%;
    }

    .info-detail h3{
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {
    .education .year{
        width: 50px;
    }
    .education .info {
        width: 100%;
    }

    .each-section {
        width: 100%;
        display: flex;
    }
}

.work {
    width: 100%;
    height: 70vh;
    padding: 0 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: var(--headerHight);
}
.work h1 {
    font-size: 1.5rem;
}
.work ul {
    list-style-type:disc;
}

.skill{
    width: 100%;
    height: 50vh;
    padding: 0 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10vh;
}

.skill h1 {
    font-size: 1.5rem;
}

.skill ul {
    list-style-type: disc;
}
@media screen and (max-width: 900px) {
    .work {
        height: 80vh;
        padding: 0 10vh;
        flex-direction: column;
        justify-content: center;
        padding-top: 5vh;
    }
    /* .worl .info-detail{
        margin-top: 30px;
    } */
    .skill{
        height: 60vh;
        padding: 0 10vh;
        flex-direction: column;
        justify-content: center;
        padding-top: 0vh;
        margin-top: 0;
    }
}
@media screen and (max-width: 600px) {
    .work {
        height: 70vh;
        padding-top: 10vh;
    }
    .work .each-section{
        flex-direction: column;
    }
    .info-detail.list li{
        width: 60vw;
    }

    .skill {
        height: 70vh;
        padding-top: 10vh;
    }
    
    .skill .each-section {
        flex-direction: column;
    }
}

@media screen and (max-width: 450px) {
    .work {
        height: 70vh;
        padding: 0 10%;
    }
    .skill{
        height: 70vh;
        padding: 0 10%;
    }
    .info-detail{
        margin-top: 20px;
    }
}

@media screen and (max-width: 350px) {
    .work {
        height: 80vh;
    }
}


/* block3 */

.block3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
    position: relative;
    padding-bottom: 15vh;
    padding-top: var(--headerHight);
}

.block3 h1{
    font-size: 1.5rem;
    padding: 0 20vh;
}

.project-section{
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: 10vh;
}

.project-section h3{
    color: var(--text-gray);
}

.project-section .img{
    position: relative;
}


.img img{
    width: 70vw;
    height: 100%;
    object-fit: cover;
}
.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color:black;
    top: 0%;
    left: 0;
    transition:all .8s;
} 

.project-section .img:hover .shadow{
    cursor: pointer;
    opacity:0;
}

.project-detail{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.project-detail h3{
    font-size: 1.2rem;
}
.homeplus{
    filter: blur(8px);
    -webkit-filter: blur(3px);
}
@media screen and (max-width:1250px) {
    .project-section{
        flex-direction: column;
    }
    .project-detail{
        margin-top: 10%;
    }
    .img img{
        width: 100vw;
        height: 100%;
        object-fit: cover;
    }
    .project-section.reverse{
        flex-direction: column-reverse;
    }
}
@media screen and (max-width: 900px) {
    .block3 h1 {
        padding: 0 10vh;
    }
}
@media screen and (max-width: 450px) {
    .block3 h1{
        padding: 0 10%;
    }
}
/* contact block */
.contact-title{
    width: 100%;
    padding: 0 20vh;
    margin-top: 60px;
    padding-top: var(--headerHight);
}
.contact-title .line-left {
    display: none;
}
.contact-title h1 {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.contact{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    position: relative;
    padding: 0 20vh;
}

.contact-info{
    width: 60vw;
    height: 50vh;
    /* border: 1px solid pink; */
    display: flex;
    justify-content: space-between;
}
.contact-info .left{
    width: 50%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid rebeccapurple; */
}
.contact-info .left .line-right{
    display: none;
}

.left .info-detail{
    height: 50px;
    margin-bottom: 30px;
}
.info-detail h3{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
/* contact form */
.contact-info .right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgb(51, 153, 133); */
}
.input-sec{
    width: 80%;
}
.input-sec input{
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--text-gray);
    margin: 20px 0 40px 0;
}

.right button{
    width: 80%;
    background-color: var(--text-gray);
    color: var(--bg-color);
    transition: all .8s;
}

.right button:hover{
    background-color: var(--text-pink);
}

@media screen and (max-width: 900px) {
    .contact-title{
        position: relative;
        padding-bottom: 5%;
    }
    .contact-title .line-left{
        display: block;
    }
    .contact-info .left .line-right {
        display: block;
    }
    .contact{
        padding: 0;
    }
    .contact-info {
        width: 100vw;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .contact-info .left{
        width: 100%;
        margin-bottom: 10%;
        position: relative;
        padding-bottom: 5%;
    }
    .left .info-detail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .contact-info .right{
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .contact-title {
        padding: 0 10vh;
    }
}

@media screen and (max-width: 450px) {
    .contact-title {
        height: 10vh;
        padding: 0 10%;
    }
}

/* footer */
footer {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-gray);
    margin-top: 10vh;
}

footer p {
    font-size: 0.8rem;
}