:root {
    --bg-color: #F1F1F1;
    --text-gray: #5F5D5D;
    --text-pink: #D9B4B3;
    --text-blue: #262934;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',
    sans-serif;
    font-family: 'Ubuntu',
    sans-serif;
    font-family: 'Work Sans',
    sans-serif;
    color: var(--text-gray);
}


body{
    width: 100vw;
    height: 100%;
    background-color: var(--bg-color);
    overflow-x: hidden;
}
/* header */
header{
    width: 100vw;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    position: fixed;
    top: 0;
    z-index: 5;
}

header h1{
    color: var(--text-gray);
    font-size: 2rem;
}

header ul{
    font-size: 1.1rem;
    width: 30vw;
    display: flex;
    justify-content: space-between;
}

header ul li a{
    color: var(--text-gray);
    text-decoration: none;
    font-weight: 800;
}

header ul li a:hover{
    color: #D9B4B3;
}

header ul li a:active {
    color: #D9B4B3;
}

/* h1:target:before {
    content: "";
    display: block;
    height: 100px;
} */

@media screen and (max-width: 1200px) {
    header ul {
    width: 50vw;
    }
    
}

@media screen and (max-width: 750px) {
    header{
        flex-direction: column;
    }
    header h1{
        margin-top: 15px;
    }
    header ul {
        width: 90vw;
    }
    header ul li a:hover {
        color: var(--text-gray);
    }
}
@media screen and (max-width: 450px) {
    header h1 {
        font-size: 1.5rem;
    }
    header ul{
        font-size: 0.8rem;
    }
    
}

/* main block */
.main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("../images/bg-pic2.svg");
    background-attachment: fixed;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size:cover;
}

.main .bg-pic{
    width: 100vw;
    height: 100vh;
    /* background-repeat: no-repeat; */
}
.main .info{
    width: 900px;
    height: 500px;
    position: relative;
    /* border: 1px solid pink; */
    display: flex;
}
.main .person-pic{
    width: 400px;
}
.main .info h1{
    color: var(--text-gray);
    position: absolute;
    font-size: 5rem;
    z-index: 4;
    top: 20%;
    left: 40%;
    font-weight: 900;
}
.moble-show{
    display: none;
}
.main .info p{
    color: var(--text-gray);
    position: absolute;
    font-size: 3rem;
    z-index: 4;
    bottom: 32%;
    left: 40%;
}
.main a {
    text-decoration: none;
    color: var(--text-gray);
    position: absolute;
    font-size: 1.5rem;
    z-index: 4;
    bottom: 10%;
    right: 30%;
    cursor: pointer;
}

.main a:hover {
    color: #D9B4B3;
}

@media screen and (max-width: 850px) {
    .main .info {
        height: 80vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 1px solid pink; */
    }
    .web-hide{
        display: none;
    }
    .moble-show {
        display: block;
    }
    .info h1 {
        color: var(--text-gray);
        position: relative;
        font-size: 4rem;
        top: 0;
        left: 0;
        font-weight: 900;
        margin-top: 20px;
    }

    .info p {
        color: var(--text-gray);
        position: relative;
        font-size: 2rem;
        bottom: 0;
        left: 0;
    }
    .main a{
        position: absolute;
        font-size: 1.5rem;
        right: 0;
        bottom: 5%;
        margin-right: 20px;
    }
  
}

@media screen and (max-width: 450px) {
    .main .person-pic {
        width: 250px;
    }

    .info h1 {
        font-size: 2rem;
    }

    .info p {
        font-size: 1.2rem;
        margin-top: 20px;
    }
}

@media screen and (max-width: 450px){
    .main a{
        font-size: 00.8rem;
    }
}

/* header */
footer{
    width: 100%;
    height: 20px;
    /* position: absolute;
    bottom: 0;
    display: flex; */
    align-items: center;
    justify-content: center;
    color: var(--text-gray);
}

/* about me block */
.block2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 60px;
    position: relative;
}
.about-me{
    width: 100%;
    height: 20vh;
    position: relative;
    padding: 0 20vh;
    margin-bottom: 50px;
}

.about-me h1{
    font-size: 1.5rem;
}

.about-me h1 {
    font-size: 1.5rem;
}

.about-me p{
    margin-top: 20px;
    text-align: center;
}

.line-left{
    width: 60%;
    border: 1px solid #707070;
    position: absolute;
    left: 0;
    bottom: 0;
}
.line-right {
    width: 60%;
    border: 1px solid #707070;
    position: absolute;
    right: 0;
    bottom: 0;
}

.education{
    width: 100%;
    height: 50vh;
    padding: 0 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.education h1{
    font-size: 1.5rem;
}
.block2 .info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.each-section{
    display: flex;
    /* border: 1px solid pink; */
}
.each-section .year{
    width: 100px;
    margin-right: 20px;
}
.each-section{
    width: 30vw;
}

.info-detail{
    width: 20vw;
}

.info-detail.list{
   margin-left: 15px;
}

.info-detail.list li{
    margin-bottom: 20px;
}
.work {
    width: 100%;
    height: 50vh;
    padding: 0 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10vh;
}
.work h1 {
    font-size: 1.5rem;
}
.work ul {
    list-style-type:disc;
}

.skill{
    width: 100%;
    height: 50vh;
    padding: 0 20vh;
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-top: 10vh;
}

.skill h1 {
    font-size: 1.5rem;
}

.skill ul {
    list-style-type: disc;
}

/* block3 */

.block3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 60px;
    position: relative;
}

.block3 h1{
    font-size: 1.5rem;
    padding: 0 20vh;
}

.project-section{
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: 10vh;
}

.project-section h3{
    color: var(--text-gray);
}
.project-section .img{
    position: relative;
}

.shadow{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color:black;
    top: 0%;
    left: 0;
    transition:all .8s;
} 

.project-section .img:hover .shadow{
    cursor: pointer;
    opacity:0;
}

.project-detail{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.project-detail h3{
    font-size: 1.2rem;
}
.homeplus{
    filter: blur(8px);
    -webkit-filter: blur(3px);
}